@page "/admin-page/course-lesson/{userId:guid}/{courseId:guid}/{lessonId:int}"
@inherits RazorPageCodeSource.AdminPages.Lesson.GetCourseLessonCodeSource

<div class="content-card">
    <p class="content-id">@Lesson.Id</p>
    <h1 class="content-title">@Lesson.Title</h1>
    <p class="content-description">@Lesson.Description</p>
    <button class="action-button" @onclick="GetLessonContents">Contents</button>
</div>