@page "/admin-pages/block-user/{userId:guid}"
@inherits RazorPageCodeSource.AdminPages.User.BlogUserSourceCode
<h3>Block User</h3>

<h1>@UserId</h1>

<button type="submit" @onclick="BlogUser">Blog User</button>