@page "/owner-create-content/{courseId:guid}/{lessonId:int}"
@inherits RazorPageCodeSource.OwnerPages.OwnerContents.CreateOwnerContentSourceCode

@using LMS.Common.Constants
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = Constants.Owner)]

<InputFile OnChange="@OnInputFileChange"></InputFile>
<video controls style="width: 80%; margin-top: 20px;" hidden></video>
<button @onclick="CreateOwnerContent">Upload Video</button>

